<% layout("layout/adminboilerplate") %>
<link rel="stylesheet" href="/css/index.css" />

<!--  -->
<% if(msg.length) {%>

<div class="alert alert-primary" role="alert"><%= msg %></div>
<% } %>
<h1 class="text-center" id="adminheading">All Rooms</h1>
<div class="row">
  <% for(let room of rooms) {%>
  <div class="col-md-4 mb-3">
    <div class="card">
      <div class="col-md-12">
        <img
          src="<%= room.image %>"
          class="card-img-top"
          width="400px"
          height="300px"
        />
      </div>
      <div class="col-md-12">
        <h5 class="card-title text-center"><%= room.name %></h5>
        <p class="card-text m-2">
          <%= room.description.slice(0,90) %>
          <a href="admin/room/<%=room.id %>">read more</a>
        </p>
        <p class="d-flex justify-content-evenly">
          <span class="mx-2">
            <i class="fa-solid fa-shower"></i> <%=room.bathrooms %>
          </span>

          <span><i class="fa-solid fa-bed"></i> <%=room.beds %></span>
          <span>
            <i class="fa-solid fa-person"></i> <%= room.maxguests %>
          </span>
        </p>
        <div class="d-flex justify-content-center">
          <a href="admin/room/<%=room.id %>" class="btn m-3">View</a>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
